/* 
    Created on : 12.05.2020, 04:34:23
    Author     : tobias
*/

/* FONT */
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFWJ0bbck.woff2) format('woff2');
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFUZ0bbck.woff2) format('woff2');
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFWZ0bbck.woff2) format('woff2');
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVp0bbck.woff2) format('woff2');
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFWp0bbck.woff2) format('woff2');
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFW50bbck.woff2) format('woff2');
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
}

/* HTML TAGS */
body {
    background: #161616;
    font-family: 'open sans', sans-serif;
}

img {
    width: 100%;
    height:auto;
}

/* HEADER */
header {
    color: #BADA55;
}

h1 {
    margin: 20px 0 0 0;
    font-size: 4em;
    text-align: left;
    padding: 0 0 0 0;
}

h2 {
    margin: -15px 0 15px 0;
    font-size: 2em;
    text-align: right;
}

#head_wrapper {
    max-width: 450px;
}

/* NAVIGATION */
nav {
    background: #BADA55;
    margin-bottom: 60px;
    min-height: 54px;
    color: #414141;
}

#nav_wrapper {
    margin: auto;
    width: 900px;
    height: 54px;
}

.nav_button {
    float: left;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 6px;
    padding: 6px;
    padding-left: 15px;
    padding-right: 15px;
    
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background: white;
    border: 1px solid #414141;
}

.link {
  border:none;
  outline:none;
  text-decoration:none;
  color:inherit;
  -webkit-tap-highlight-color: white;
}

/* MAIN */
main {
    margin-top: 100px;
}

#wrapper {
    margin: auto;
    padding: 5px;
    max-width: 1400px;
}

.centered {
    text-align: center;
}

.row {
    width: 100%;
    color: white;
}

.one {
    float: left;
    width: 100%;
}

.two {
    float: left;
    width: 50%;
}

.three {
    float: left;
    width: 33%;
    /* height: 100%; */
}

.status {
    margin-top: -5px;
    width: 100%;
    height: auto;
    color: #000;
    
}

.status_content {
    margin-left: 8px;
    text-align: left; 
    height: 100%; 
    font-size: 2vw;
}

.small {
    font-size: 1.8vw;
}

.tiny {
    font-size: 1.5vw;
}

.sold {
    background-color: #E85951;
    text-transform: uppercase;
}

.open {
    background-color: #46AAE0;
}

.number {
    padding-right: 10px;
    font-size: 2.2em;
}

.title {
    font-weight: bold;
    vertical-align: bottom;
    text-transform: uppercase;
}

.price {
    vertical-align: top;
}

.price-tiny {
    font-size: 0.8em;
}

#content_wrapper {
    background-color: white;
    padding-top: 80px;
    padding-bottom: 80px;
    line-height: 1.3;
    color: #414141;
}

#content {
    margin: auto;
    max-width: 1050px;
    font-size: 1.6em; 
    text-align: center; 
    padding-left: 16px; 
    padding-right: 16px; 
}

#telegram {
    margin-bottom: 50px;
    object-fit: none;
    width: 230px;
    height: 126px;
}

#ueberschrift {
    margin: auto;
    max-width: 1050px;
    font-size: 2.6em; 
    padding-left: 16px; 
    padding-right: 16px;
}

#divider {
    height: 3px; 
    background-color: #414141; 
    width: 100%;
    margin-bottom: 60px;
}

#input_wrapper {
    margin: auto;
    max-width: 600px;
}

#message {
    margin-top: 6px;
    height: 100px;
    resize: none;
    width: 100%;
    font-family: 'open sans', sans-serif;
    font-size: 0.6em;
    padding: 5px;
    background-color: #F4F4F4;
    border: none;
    outline: none;
}

#send {
    color: white;
    border: none;
    padding: 4px;
    font-family: 'open sans', sans-serif;
    font-size: 0.6em;
    background-color: #BBB;
}

.text-input {
    width: 100%;
    padding: 5px;
    background-color: #F4F4F4;
    border: none;
    font-size: 0.6em;
    height: 20px;
    outline: none;
}

/* FOOTER */
footer {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
    text-align: center;
    color: white;
    font-size: 0.8em;
    clear: both;
}










/* Image IDs */
#img_001 {
    width: 70%;
}

#img_002 {
    width: 100%; 
    margin-top: 15%; 
    margin-left: -15%;
}

#img_003 {
    width: 100%;
}

#img_004 {
    max-width: 70%;
    padding-top: 20%; 
    padding-left: 5%;
    padding-right: 5%;
}

#img_005 {
    max-width: 70%;
    margin-top: 10%; 
    margin-left: -0px;
}

#img_006 {
    max-width: 100%; 
    margin-top: 0px; 
    margin-left: -5%;
}

#img_007 {
    width: 85%; 
    margin: auto;
    margin-top: 10%;
}

#img_008 {
    width: 85%; 
    margin: auto;
}

#img_009 {
    width: 55%;
    margin: auto;
    margin-top: 10%;
}

#img_010 {
    width: 85%;
    margin: auto;
    margin-left: -3%;
}

#img_011 {
    width: 70%;
    margin: auto;
    margin-top: 25%;
    margin-left: 8%;
}

#img_012 {
    width: 70%;
    margin: auto;
    margin-top: 30%;
    margin-left: 10%;
}

#img_013 {
    width: 70%;
    margin: auto;
}

#img_014 {
    width: 85%;
    margin: auto;
    margin-top: 8%;
    margin-left: 5%;
}

#img_015 {
    width: 85%;
    margin: auto;
    margin-left: 10%;
}

#img_016 {
    width: 65%;
    margin: auto;
    margin-left: 15%;
}

#img_017 {
    width: 85%;
    margin: auto;
    margin-left: 5%;
}

#img_018 {
    width: 90%;
    margin: auto;
    margin-left: 15%;
}

#img_019 {
    width: 65%;
    margin: auto;
    margin-top: -20%;
    margin-left: 20%;
}

#img_020 {
    width: 75%;
    margin: auto;
    margin-top: 10%;
}

#img_021 {
    width: 80%;
    margin: auto;
    margin-top: 25%;
}

#img_022 {
    width: 80%;
    margin: auto;
}

#img_023 {
    width: 80%;
    margin: auto;
}

#img_024 {
    width: 75%;
    margin: auto;
    margin-top: 5%;
}

#img_025 {
    width: 75%;
    margin: auto;
    margin-top: 10%;
    margin-left: 15%;
}

#img_026 {
    width: 70%;
    margin: auto;
    margin-top: 20%;
    margin-left: 0px;
}

#img_027 {
    width: 90%;
    margin: auto;
    margin-left: -5%;
}

#img_028 {
    width: 100%;
    margin: auto;
    margin-top: 30%;
    margin-left: 5%;
}

#img_029 {
    width: 85%;
    margin: auto;
}

#img_030 {
    width: 85%;
    margin: auto;
    margin-top: -5%;
}

#img_031 {
    width: 80%;
    margin: auto;
}

#img_032 {
    width: 90%;
    margin: auto;
    margin-top: 7%;
    margin-left: 3%;
}

#img_033 {
    width: 90%;
    margin: auto;
    margin-left: 10%;
}

#img_034 {
    width: 80%;
    margin: auto;
}

#img_035 {
    width: 80%;
    margin: auto;
    margin-top: 15%;
}

#img_036 {
    width: 80%;
    margin: auto;
}

#img_037 {
    width: 85%;
    margin: auto;
    margin-top: 6%;
}

#img_038 {
    width: 85%;
    margin: auto;
}

#img_039 {
    width: 95%;
    margin: auto;
}

#img_040 {
    width: 65%;
    margin: auto;
    margin-top: -20%;
    margin-left: 20%;
}
#img_041 {
    width: 80%;
    margin: auto;
}

#img_042 {
    width: 70%;
    margin: auto;
}

#img_043 {
    width: 70%;
    margin: auto;
    margin-top: 15%;
}

#img_044 {
    width: 65%;
    margin: auto;
    margin-top: -15%;
    margin-left: 5%;
}

#img_045 {
    width: 100%;
    margin: auto;
}

#img_046 {
    width: 95%;
    margin: auto;
    margin-top: -15%;
    margin-left: 10%;
}

#img_047 {
    width: 65%;
    margin: auto;
    margin-top: 10%;
    margin-left: 25%;
}

#img_048 {
    width: 92%;
    margin: auto;
    margin-top: -10%;
    margin-left: 8%;
}

#img_049 {
    width: 80%;
    margin: auto;
}

#img_050 {
    width: 75%;
    margin: auto;
    margin-top: 20%;
}

#img_051 {
    width: 75%;
    margin: auto;
}

#img_052 {
    width: 75%;
    margin: auto;
    margin-top: 25%;
}

#img_053 {
    width: 80%;
    margin: auto;
}

#img_054 {
    width: 70%;
    margin: auto;
}

#img_055 {
    width: 80%;
    margin: auto;
    margin-top: 10%;
    margin-left: 5%;
}

#img_056 {
    width: 90%;
    margin: auto;
    margin-top: -5%;
    margin-left: 10%;
}

/* Template */
#img_05x {
    width: 0px;
    margin: auto;
}




/* Row properties*/

#row_01 {
    height: 600px;
}

#row_02 {
    height: 700px;
}

#row_03 {
    height: 660px;;
}

#row_04 {
    height: 680px;
}

#row_05 {
    height: 750px;
}

#row_06 {
    height: 680px;
}

#row_07 {
    height: 800px;
}

#row_08 {
    height: 550px;
}

#row_09 {
    height: 800px;
}

#row_10 {
    height: 980px;
}

#row_11 {
    height: 900px;
}

#row_12 {
    height: 670px;
}

#row_13 {
    height: 650px;
}

#row_14 {
    height: 800px;
}

#row_15 {
    height: 650px;
}

#row_16 {
    height: 750px;
}

#row_17 {
    height: 700px;
}

#row_18 {
    height: 600px;
}

#row_19 {
    height: 650px;
}

#row_20 {
    height: 990px;
}

#row_21 {
    height: 780px;
}

#row_22 {
    height: 600px;
}

#row_23 {
    height: 800px;
}

#row_24 {
    height: 800px;
}

#row_25 {
    height: 750px;
}

#row_26 {
    height: 650px;
}